a {
    text-decoration: none;
    color: black;
  }

  hr {
    width: 15%;
    border-top: 2px solid #9D9D9D;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .bg-main {
    background-color: #CDE4E7 !important;
  }

  .content {
    background-color: #E6F0F1;
  }

  .selected-category {
    border-bottom: 2px solid black;
  }

  .card-txt-category {
    color: #9D9D9D;
    font-size: 12px;
  }

  .card-txt-author {
    color: #9D9D9D;
    font-size: 14px;
  }

  .card-txt-date {
    color: #9D9D9D;
    font-size: 14px;
  }

  .card {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
  }

  .card .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
  }

  .post-txt {
    color: #9D9D9D;
  }
